<div class="auth-form-alt-auth-wrap">
  <p class="auth-form-alt-auth-text">Або</p>
  <ul class="auth-form-alt-auth-links-list">
    <li class="auth-form-alt-auth-links-list-item">
      <a href="/" class="auth-form-alt-auth-link">
        <svg class="auth-form-alt-auth-link-icon">
          <use href="/icons/icons.svg#google-auth"></use>
        </svg>
        <span class="auth-form-alt-auth-link-text">Увійти з Google</span>
      </a>
    </li>
    <li class="auth-form-alt-auth-links-list-item">
      <a href="/" class="auth-form-alt-auth-link">
        <img src="/icons/facebook-auth.svg" class="auth-form-alt-auth-link-icon" />
        <span class="auth-form-alt-auth-link-text">Увійти з Facebook</span>
      </a>
    </li>
  </ul>
</div>
