<div class="auth-form-steps-list-wrap">
  <div class="auth-form-steps-progress-wrap">
    <div class="auth-form-steps-progress"></div>
    <ul class="auth-form-steps-list">
      <li class="auth-form-steps-list-item">
        <div class="auth-form-steps-marker">
          <svg class="auth-form-steps-marker-icon">
            <use href="/icons/icons.svg#step-check"></use>
          </svg>
          <!-- <div class="auth-form-steps-marker-emptiness"></div> -->
          <p class="auth-form-steps-marker-label">Телефон</p>
        </div>
      </li>
      <li class="auth-form-steps-list-item">
        <div class="auth-form-steps-marker">
          <svg class="auth-form-steps-marker-icon">
            <use href="/icons/icons.svg#step-check"></use>
          </svg>
          <!-- <div class="auth-form-steps-marker-emptiness"></div> -->
          <p class="auth-form-steps-marker-label">Пошта</p>
        </div>
      </li>
      <li class="auth-form-steps-list-item">
        <div class="auth-form-steps-marker">
          <svg class="auth-form-steps-marker-icon">
            <use href="/icons/icons.svg#step-check"></use>
          </svg>
          <!-- <div class="auth-form-steps-marker-emptiness"></div> -->
          <p class="auth-form-steps-marker-label">Профіль</p>
        </div>
      </li>
    </ul>
  </div>
</div>
