<div class="delete-profile-backdrop-wrap is-hidden js-delete-profile-modal-win">
  <div class="delete-profile-backdrop js-delete-profile-backdrop">
    <div class="delete-profile-modal-win">
      <button type="button" class="delete-profile-modal-win-close-btn js-delete-profile-modal-win-close-btn">
        <svg class="delete-profile-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <div class="delete-profile-modal-win-container">
        <p class="delete-profile-modal-win-title">Ви впевнені, що хочете видалити свій профіль та всі купони?</p>
        <div class="delete-profile-modal-win-controls">
          <button type="button" class="delete-profile-btn cancel js-cancel-delete-profile-btn">Скасувати</button>
          <button type="button" class="delete-profile-btn delete js-delete-profile-btn">Видалити</button>
        </div>
      </div>
    </div>
  </div>
</div>
