<div class="js-sign-in-form-csrf-token hidden-element"><input type="hidden" name="token" value="12345678" /></div>
<form class="auth-form js-forgot-password-form">
  <div class="auth-form-labels-wrap">
    <label class="auth-form-input-label">
      <span class="auth-form-input-title">Email</span>
      <span class="auth-form-input-wrap js-forgot-password-form-input-email-wrap">
        <input type="email" name="email" class="auth-form-input" placeholder="Введіть Email" required />
        <span class="auth-form-input-info error js-forgot-password-form-input-email-error"></span>
      </span>
    </label>
  </div>
  <button type="submit" class="auth-form-btn js-forgot-password-form-submit-btn" disabled>Далі</button>
</form>
