<div class="private-route-backdrop-wrap is-hiddenn">
  <div class="private-route-backdrop">
    <div class="private-route-modal-win">
      <div class="private-route-modal-win-container">
        <p class="private-route-modal-win-title">Будь ласка, підтвердіть ваш Email, щоб продовжити</p>
        <p class="private-route-modal-win-text">На вашу пошту було відправлено лист з кодом підтвердження</p>
        <a href="/customer/profile" class="private-route-modal-win-profile-link">Повернутись до профілю</a>
      </div>
    </div>
  </div>
</div>
