<div class="js-sign-in-form-csrf-token hidden-element"><input type="hidden" name="token" value="12345678" /></div>
<form class="auth-form js-reset-password-form">
  <div class="auth-form-labels-wrap">
    <label class="auth-form-input-label">
      <span class="auth-form-input-title">Новий пароль</span>
      <span class="auth-form-input-wrap password js-reset-password-form-input-password-wrap">
        <input type="password" name="password" class="auth-form-input password js-reset-password-form-input-password" placeholder="Створіть пароль" minlength="8" required />
        <button type="button" class="auth-form-input-btn toggle-show-password show js-reset-password-form-toggle-show-password-btn">
          <svg class="auth-form-input-btn-icon password hide">
            <use href="/icons/icons.svg#show-password"></use>
          </svg>
          <svg class="auth-form-input-btn-icon password show">
            <use href="/icons/icons.svg#hide-password"></use>
          </svg>
        </button>
        <span class="auth-form-input-info prompt">Пароль має містити не менше 8 знаків, цифри та спецсимволи</span>
        <span class="auth-form-input-info error password js-reset-password-form-input-password-error"></span>
      </span>
    </label>
  </div>
  <button type="submit" class="auth-form-btn js-reset-password-form-submit-btn" disabled>Створити</button>
</form>
