<section class="auth-section">
  <h1 class="hidden-element">Сторінка аутентифікації</h1>
  <div class="auth-section-wrap">
    <div class="auth-form-container">
      <load src="/partials/auth-form-header.html" />
      <div class="container auth-container">
        <h2 class="auth-form-title">Відновлення паролю</h2>
        <load src="/partials/reset-password-form.html" />
      </div>
      <load src="/partials/auth-form-footer.html" />
    </div>
    <load src="/partials/decorative-auth-block.html" />
  </div>
</section>
