<div class="sign-up-form-steps-list-wrap">
  <div class="sign-up-form-steps-progress-wrap">
    <div class="sign-up-form-steps-progress"></div>
    <ul class="sign-up-form-steps-list">
      <li class="sign-up-form-steps-list-item js-sign-up-phone-step current">
        <div class="sign-up-form-steps-marker">
          <div class="sign-up-form-steps-marker-emptiness"></div>
          <p class="sign-up-form-steps-marker-label">Телефон</p>
        </div>
      </li>
      <li class="sign-up-form-steps-list-item js-sign-up-email-step">
        <div class="sign-up-form-steps-marker">
          <div class="sign-up-form-steps-marker-emptiness"></div>
          <p class="sign-up-form-steps-marker-label">Пошта</p>
        </div>
      </li>
      <li class="sign-up-form-steps-list-item js-sign-up-step-profile">
        <div class="sign-up-form-steps-marker">
          <div class="sign-up-form-steps-marker-emptiness"></div>
          <p class="sign-up-form-steps-marker-label">Профіль</p>
        </div>
      </li>
    </ul>
  </div>
</div>
