<form class="auth-form js-sign-up-form-email display-none">
  <div class="auth-form-labels-wrap">
    <label class="auth-form-input-label">
      <span class="auth-form-input-title">Email</span>
      <span class="auth-form-input-wrap js-sign-up-form-input-email-wrap">
        <input type="email" name="email" class="auth-form-input email js-auth-form-input-email" placeholder="Додайте Email" required />
        <span class="auth-form-input-info error js-sign-up-form-input-email-error">Помилка</span>
        <svg class="auth-form-input-check-icon email">
          <use href="/icons/icons.svg#input-check"></use>
        </svg>
      </span>
    </label>
    <label class="auth-form-input-label">
      <span class="auth-form-input-title">Пароль</span>
      <span class="auth-form-input-wrap password js-sign-up-form-input-password-wrap">
        <input type="password" name="password" class="auth-form-input password js-sign-up-form-input-password" placeholder="Створіть пароль" minlength="8" required />
        <button type="button" class="auth-form-input-btn toggle-show-password show js-sign-up-form-toggle-show-password-btn">
          <!-- <img class="auth-form-input-btn-icon password hide" src="/icons/show-password.svg" /> -->
          <!-- <img class="auth-form-input-btn-icon password show" src="/icons/hide-password.svg" /> -->
          <svg class="auth-form-input-btn-icon password hide">
            <use href="/icons/icons.svg#show-password"></use>
          </svg>
          <svg class="auth-form-input-btn-icon password show">
            <use href="/icons/icons.svg#hide-password"></use>
          </svg>
        </button>
        <span class="auth-form-input-info prompt">Пароль має містити не менше 8 знаків, цифри та спецсимволи</span>
        <span class="auth-form-input-info error password js-sign-up-form-input-password-error">Помилка</span>
      </span>
    </label>
  </div>
  <button type="submit" class="auth-form-btn js-sign-up-form-email-submit" disabled>Далі</button>
  <div class="sign-up-form-google-auth-wrap">
    <p class="sign-up-form-google-auth-text">Або</p>
    <a href="/" class="sign-up-form-google-auth-link">
      <svg class="sign-up-form-google-auth-link-icon">
        <use href="/icons/icons.svg#google-auth"></use>
      </svg>
      <span class="sign-up-form-google-auth-link-text">Увійти з Google</span>
    </a>
  </div>
</form>
