<section class="sign-in-section">
  <div class="sign-in-container">
    <div class="sign-in-form-container">
      <h1 class="sign-in-form-title">Вхід</h1>
      <form class="sign-in-form">
        <input type="hidden" name="" />
        <div class="form-group required sign-in-form-input-wrap email">
          <label class="control-label sign-in-form-input-label email">Номер телефону або Email</label>
          <input class="sign-in-form-input email" type="text" placeholder="Введіть номер телефону або Email" name="email" />
          <div class="help-block"></div>
        </div>
        <div class="form-group required has-error sign-in-form-input-wrap password hide-password">
          <label class="control-label sign-in-form-input-label password">Пароль</label>
          <input class="sign-in-form-input password" type="text" placeholder="Введіть ваш пароль" name="password" />
          <div class="help-block">Помилка</div>
          <button type="button" class="sign-in-form-toggle-show-password-btn">
            <svg class="sign-in-form-password-btn-icon show-password">
              <use href="/icons/icons.svg#show-password"></use>
            </svg>
            <svg class="sign-in-form-password-btn-icon hide-password">
              <use href="/icons/icons.svg#hide-password"></use>
            </svg>
          </button>
        </div>
        <a class="sign-in-form-remind-password-link" href="/" target="_blank" rel="noopener noreferrer nofollow">Нагадати пароль</a>
        <button class="sign-in-form-submit-btn" type="submit" disabled>Увійти</button>
      </form>
      <p class="sign-in-form-or-label">Або</p>
      <div class="sign-in-alternative-sign-in-links-list">
        <a class="sign-in-alternative-sign-in-link google-auth" href="/">
          <svg class="sign-in-alternative-sign-in-link-icon google-auth">
            <use href="/icons/icons.svg#google-auth"></use>
          </svg>
          <span class="sign-in-alternative-sign-in-link-title google-auth">Увійти з Google</span>
        </a>
        <a class="sign-in-alternative-sign-in-link facebook-auth" href="/">
          <svg class="sign-in-alternative-sign-in-link-icon facebook-auth">
            <use href="/icons/icons.svg#facebook-auth"></use>
          </svg>
          <span class="sign-in-alternative-sign-in-link-title facebook-auth">Увійти з Facebook</span>
        </a>
      </div>
      <a class="sign-in-form-create-account-link" href="/">У мене немає акаунту</a>
    </div>
    <div class="decorative-auth-block-container">
      <div class="decorative-auth-block">
        <img class="decorative-auth-block-img" src="/images/decorative-block/decorative-auth-logo.png" alt="Декоративне зображення" />
      </div>
    </div>
  </div>
</section>
