<div class="sign-up-form-steps-list-wrap">
  <div class="sign-up-form-steps-progress-wrap">
    <div class="sign-up-form-steps-progress"></div>
    <ul class="sign-up-form-steps-list">
      <li class="sign-up-form-steps-list-item js-sign-up-phone-step current">
        <button type="button" class="sign-up-form-steps-marker js-sign-up-phone-step-btn">
          <span class="sign-up-form-steps-marker-emptiness"></span>
          <span class="sign-up-form-steps-marker-label">Телефон</span>
        </button>
      </li>
      <li class="sign-up-form-steps-list-item js-sign-up-email-step">
        <button type="button" class="sign-up-form-steps-marker js-sign-up-email-step-btn" disabled>
          <span class="sign-up-form-steps-marker-emptiness"></span>
          <span class="sign-up-form-steps-marker-label">Пошта</span>
        </button>
      </li>
      <li class="sign-up-form-steps-list-item js-sign-up-step-profile">
        <button type="button" class="sign-up-form-steps-marker js-sign-up-step-profile-btn" disabled>
          <span class="sign-up-form-steps-marker-emptiness"></span>
          <span class="sign-up-form-steps-marker-label">Профіль</span>
        </button>
      </li>
    </ul>
  </div>
</div>
