<form class="auth-form">
  <div class="auth-form-labels-wrap">
    <label class="auth-form-input-labels-wrap">
      <span class="auth-form-input-title">Номер телефону</span>
      <span class="auth-form-input-wrap">
        <input type="text" name="SUP1[phone]" class="auth-form-input phone" required />
        <button type="button" class="auth-form-input-btn access-phone" disabled>Підтвердити</button>
      </span>
      <span class="auth-form-input-error"></span>
    </label>
    <label class="auth-form-input-label">
      <span class="auth-form-input-title">Код з СМС</span>
      <span class="auth-form-inputs-wrap">
        <input type="text" maxlength="1" name="SUP1[sms_code]" class="auth-form-input sms-code" required disabled />
        <input type="text" maxlength="1" name="SUP1[sms_code]" class="auth-form-input sms-code" required disabled />
        <input type="text" maxlength="1" name="SUP1[sms_code]" class="auth-form-input sms-code" required disabled />
        <input type="text" maxlength="1" name="SUP1[sms_code]" class="auth-form-input sms-code" required disabled />
      </span>
      <span class="auth-form-input-error"></span>
    </label>
  </div>
  <button type="submit" class="auth-form-submit-btn" disabled>Далі</button>
</form>
