<div class="auth-form-content-wrap">
  <h2 class="auth-form-title">Реєстрація</h2>
  <load src="/partials/auth-form-steps-list.html" />
  <form class="auth-form" id="w0" action="/customer/sign-up" method="post">
    <input type="hidden" name="_csrf-frontend" value="ZJu6KY9PWoGWZFWJJ5GWfd5girHTKXKxcR1YvhOTRdk-ttFc9SE79KVVMepmy9QPllTc5OQbC4kJbwLLUKcAmA==" />
    <div class="auth-form-input-wrap phone">
      <label class="auth-form-input-label" for="sup1-phone">Номер телефону</label>
      <input
        type="text"
        id="sup1-phone"
        class="auth-form-input phone is-validd is-invalidd"
        name="SUP1[phone]"
        placeholder="+38 (0__) ___-__-__"
        aria-required="true"
        data-plugin-inputmask="inputmask_9062948e"
      />
      <div class="auth-form-input-error invalid-feedback"></div>
    </div>
    <div class="auth-form-input-wrap sms-code">
      <label class="auth-form-input-label" for="sup1-sms_code">Код з СМС</label>
      <input type="text" id="sup1-sms_code" class="auth-form-input sms-code is-validd is-invalidd" name="SUP1[sms_code]" aria-invalid="false" />
      <div class="auth-form-input-error invalid-feedback"></div>
    </div>
    <button type="auth-form-submit-btn" disabled>Далі</button>
  </form>
  <a class="auth-form-account-link" href="/">У мене є акаунт</a>
</div>
