<form class="auth-form js-sign-up-form-profile display-none">
  <div class="auth-form-labels-wrap">
    <label class="auth-form-input-label">
      <span class="auth-form-input-title">Email</span>
      <span class="auth-form-input-wrap js-sign-up-form-input-email-wrap">
        <input type="email" name="email" class="auth-form-input email js-auth-form-input-email" placeholder="Додайте Email" required />
        <span class="auth-form-input-info error js-sign-up-form-input-email-error">Помилка</span>
        <svg class="auth-form-input-check-icon email">
          <use href="/icons/icons.svg#input-check"></use>
        </svg>
      </span>
    </label>
  </div>
  <button type="submit" class="auth-form-btn js-sign-up-form-email-submit" disabled>Далі</button>
</form>
