.auth-form-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.auth-form-header-link {
  display: block;
}

.auth-form-header-link-icon {
  display: block;
  width: 96px;
  height: 21px;
}

@media screen and (min-width: 1440px) {
  .auth-form-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .auth-form-header-link-icon {
    display: block;
    width: 130px;
    height: 29px;
  }
}
