.auth-form-input-wrap.sms-code {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.auth-form-input.phone {
  padding-left: 64px;
  padding-right: 120px;
}

.auth-form-input-phone-prefix {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #7e8494;
  font-family: Geologica;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  transform: translateY(-50%);
}

.auth-form-input.sms-code {
  text-align: center;
}

.auth-form-input-label:has(.auth-form-input:disabled) .auth-form-input-title {
  color: #bcc3d3;
}

.auth-form-input-btn.confirm-phone {
  color: #4289fe;
  font-family: Geologica;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  opacity: 1;
  transition: color var(--transition-duration-and-func), opacity var(--transition-duration-and-func);
}

.auth-form-input-btn.confirm-phone:disabled {
  color: #9fa8bd;
}

.auth-form-input-wrap.check > .auth-form-input-btn.confirm-phone {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 1440px) {
  .auth-form-input-phone-prefix {
    font-size: 16px;
  }

  .auth-form-input.phone {
    padding-left: 69px;
  }
}
